<%= content_for(:jumbotron) do %>
  <div class="landing-page-jumbotron">
    <h2>Study abroad?</h2>
    <p>Then, ask them first</p>

    <div class="input-group md-3">
      <input class="form-control" type="text">
      <div class="input-group-append">
        <button class="btn btn-primary">Find Tutors</button>
      </div>
    </div>
  </div>
<% end %>
