$l-navy: #235685;
$l-blue: #86b8e2;
$white: #ffffff;
$black: #3c3c3c;


$color-white: #ffffff;
$color-gray: #bababa;
$color-light-gray: #dadada;
$color-dark-gray: #9a9a9a;
$color-blueish-gray: #EDEFF0;
$color-black: #3c3c3c;
$color-light-black: #4a4a4a;
$color-dark-black: #1c1c1c;
$color-blue: #305681;
