<div class="tutors-search-option">
  <div class="lenga-ui-input-select-group">
    <div class="lenga-ui-input-select">
      <span>TUTOR SPEAKS</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <span>COUNTRY OF BIRTH</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <span>PRICE</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <span>SCHOOL NAME</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <span>MAJOR</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <div class="lenga-ui-input-select-group">
    <div class="lenga-ui-input-select">
      <span>COUNTRY OF SCHOOL</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <span>REVIEW</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <span>CONVERSATION TOPIC</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <span>SCHOOL TYPE</span>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>
</div>
