<div class="top-container__head">
  <div class="top-container__head__logo">
    <%= link_to 'Lenga', root_path %>
  </div>
  <div class="top-container__head__tools">
    <div class="top-container__head__tools__elem">
      <%= link_to 'Find tutors', tutors_path %>
    </div>
    <div class="top-container__head__tools__elem">
      <%= link_to 'Lessons', student_lessons_path %>
    </div>
  </div>
</div>
