<div class="tutors-search-option">
  <div class="lenga-ui-input-select-group">
    <div class="lenga-ui-input-select">
      <p>TUTOR SPEAKS</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <p>COUNTRY OF BIRTH</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <p>PRICE</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <p>SCHOOL NAME</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <p>MAJOR</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <div class="lenga-ui-input-select-group">
    <div class="lenga-ui-input-select">
      <p>COUNTRY OF SCHOOL</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <p>REVIEW</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <p>CONVERSATION TOPIC</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="lenga-ui-input-select">
      <p>SCHOOL TYPE</p>
      <select>
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>
</div>
