<p class="hit-description">
  We found
  <span class="hit-count">
    <%= count %>
  </span>
  tutors who would meet your criteria.
</p>
<p class="hit-description">
  Click the "Book session" button to make a reservation with the tutor.<br>
  If you would like to see more details about the tutor, please click the tutor's card.
</p>
