<% content_for(:jumbotron) do %>
  <%= render 'search_option' %>
<% end %>

<%= render 'search_sort' %>

<div class="main-content">
  <div class="tutors-search">

    <%= render 'search_hit_description', count: @tutors.length %>

    <div class="user-card-container">
      <% @tutors.each do |t| %>
        <%= render 'search_tutor_card', tutor: t %>
      <% end %>
    </div>
  </div>
</div>
