<div class="user-profile-card">
  <div class="user-profile-card__avatar"></div>
  <div class="user-profile-card__content">
    <p class="user-profile-card__content__name">
      <%= user.name %>
    </p>
    <p class="user-profile-card__content__school-name">UNIVERSITY OF WISCONSIN-MADISON</p>
    <p class="user-profile-card__content__description">Public school</p>
    <p class="user-profile-card__content__description">Age: 25</p>
    <p class="user-profile-card__content__description">Gender: male</p>
  </div>
</div>
