<div class="user-profile-box">
  <p class="user-profile-box__title">MASTER'S STUDENT</p>
  <p class="user-profile-box__description">EDUCATIONAL LEADERSHIP &amp; POLICY ANALYSIS</p>
  <p class="user-profile-box__description">
    Lorem est est nam tempore vero Laborum mollitia dolores sit libero assumenda.<br>
    Corrupti aliquam blanditiis laboriosam iste a?<br>
    Facere corporis ad eius assumenda obcaecati Temporibus suscipit amet assumenda ab minus
  </p>
</div>
