<div class="topic-crumb-container">
    <a class="topic-crumb" href="#">CAMPUS LIFE</a>
    <a class="topic-crumb" href="#">COURSE DETAILS</a>
    <a class="topic-crumb" href="#">PLACE TO LIVE</a>
    <a class="topic-crumb" href="#">LANGUAGE PROFICIENCY</a>
    <a class="topic-crumb" href="#">APPLICATION DOCS</a>
</div>
