@import './includes/variables.scss';
@import './includes/mixins.scss';

.main-content {
  padding: 0 10rem;
}

.topic-crumb {
  @extend %clickable;
  display: inline-box;
  padding: .2rem;
  border: 1px solid $color-blue;
  border-radius: .2rem;
  font-size: .8rem;
  color: $color-blue;
}
.topic-crumb-container {
  display: flex;
  flex-wrap: wrap;
  .topic-crumb {
    margin: 0 .4rem .4rem 0;
  }
}

.search-category-table {
  width: 100%;
  background-color: $color-white;
  border-radius: 2rem;
  overflow: hidden;

  &__head {
    display: flex;
    justify-content: center;

    &__elem {
      @extend %clickable-on-white;
      padding: 2rem 4rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    &__row {
      display: flex;

      &__elem {
        @extend %clickable-on-white;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        border: 1px solid $color-light-gray;
      }
    }
  }
}
