.landing-page-jumbotron {
  padding: 12rem 4rem;
  p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .input-group {
    max-width: 400px;
  }
}

.landing-page-body {
  transform: translateY(-4rem);
}
