@import './includes/variables.scss';

.tutors-search-option {
  padding: 1rem 6rem;
  .lenga-ui-input-select {
    width: 250px;
  }
}

.tutors-search-sort {
  display: flex;
  justify-content: flex-end;
  padding: .4rem 1rem;
  background-color: $color-white;
}

.tutors-search {
  .hit-description {
    margin-bottom: .4rem;
  }
  .hit-count {
    font-weight: 600;
    font-size: 2rem;
  }
}
