@import './includes/variables.scss';

.tutors-search-option {
  padding: 1rem 6rem;
  .lenga-ui-input-select {
    width: 250px;
  }
}

.tutors-search-sort {
  display: flex;
  justify-content: flex-end;
  padding: .4rem 1rem;
  background-color: $color-white;
}

.tutors-search {
  .hit-description {
    margin-bottom: .4rem;
  }
  .hit-count {
    font-weight: 600;
    font-size: 2rem;
  }
}

.tutor-search-card {
  display: flex;
  padding: 1rem;
  background-color: $color-white;
  box-shadow: 0px 2px 4px rgba(0,0,0,.4);

  &__avatar {
    width: 150px;
    height: 150px;
    background-color: $color-gray;
  }

  &__body {
    flex: 1;
  }

  &__sub {
  }
}

.tutor-search-card-group {
  .tutor-search-card + .tutor-search-card {
    margin-top: 1rem;
  }
}
