<div class="date-option btn btn-light" data-toggle="modal" data-target="#modal-confirm">
  <div class="date"><%= date_option.lesson_date %></div>
  <div class="time"><%= date_option.lesson_time  %></div>
</div>
