<div class="body-standalone">
  <div id="tutor-profile">
    <div class="row">
      <div class="col-2">
        <div id="tutor-avatar">
          <%= @tutor.user.image %>
        </div>
      </div>
      <div class="col-4 basic-info">
        <div class="row">
          <div class="col-12" id="tutor-name">
            <h3><%= @tutor.user.name %></h3>
          </div>
          <div class="col-12" id="tutor-univ">
            <div id="tutor-univ-name">&nbsp
              <ion-icon name="school"></ion-icon>
              Harvard University</div>
            <div id="tutor-univ-type">&nbsp Private School</div>
          </div>
          <div class="col-12">
            <span id="tutor-age">&nbsp 21 years old</span>
          </div>
          <div class="col-12">&nbsp
            <ion-icon name="woman"></ion-icon>
            <span id="tutor-gender">Female</span>
          </div>
        </div>
      </div>
      <div class="col-4 basic-info">
        <div class="row">
          <div class="col-12" id="tutor-degree-program">
            <h4 class="text-muted">Master's Student</h4>
            <h4>Educational Leadership & Policy Analysis</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-6" id="num-sessions">
            30 session
          </div>
          <div class="col-6" id="lang-options">
            <div class="lang-option">Japanese/English</div>
          </div> <!-- #lang-options -->
        </div> <!-- .row -->
      </div> <!-- .col-4.tutor-profile__basic-info -->
      <div class="col-2 basic-info">
        <div class="row">
          <div class="col-6" id="rating">
            <div class="text-center" id="rating-title">Rating</div>
            <div class="text-center" id="rating-stars"><ion-icon name="star-outline"></ion-icon>4.7</div>
          </div> <!-- #rating -->
          <div class="col-6" id="price">
            <div class="text-center" id="price-title">Price</div>
            <div class="text-center">
              <span id="price-currency">$</span>
              <span id="price-value">30</span>
              <span id="price-duration">/ h</span>
            </div> <!-- .text-center -->
          </div> <!-- #price -->
        </div> <!-- .row -->
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" id="book">Book Session</button>
          </div>
        </div>
      </div> <!-- .col-2 -->
    </div> <!-- .row -->
    <hr>
    <div class="row">
      <h3>About Me</h3>
      <div class="col-12 tutor-about-content">
        <h4>I graduated from Harvard Unversity.</h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <h3>Topics</h3>
      <div class="col-12" id="topics">
        <span class="topic">CAMPUS LIFE</span>
        <span class="topic">COURSE DETAILS</span>
        <span class="topic">PLACE TO LIVE</span>
        <span class="topic">STUDYING ABROAD AGENTS</span>
        <span class="topic">ESSAYS</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <h3>Schedule</h3>
      <div class="col-12 text-center" id="date-options-tip">
        <h6>Choose the time for your first session. The timings are displayed in your local time zone.</h6>
      </div>
      <div class="col-12 date-options">
        <% @lesson_dates_options.reverse_each do |option| %>
          <%= render 'date_opts', date_option: option %>
        <% end %>
      </div> <!-- .col-12.date-option -->
    </div> <!-- .row -->
  </div> <!-- #tutor-profile -->
</div> <!-- .body-standalone -->

<!-- Modal -->
<%= link_to "Open modal", "#myModal", :class => "btn", "data-toggle" => "modal" %>
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
